/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.App {
  text-align: center;
  color: white;
  background: var(--light);
  background: -o-radial-gradient(circle, var(--light) 0%, var(--dark) 100%);
  background: radial-gradient(circle, var(--light) 0%, var(--dark) 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header,
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2.5rem;
  font-size: 1.6rem;
}

footer {
  font-size: 1rem;
  color: var(--lightblue);
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: start;
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  color: var(--purple);
  text-shadow: 1px 2px 3px black;
}

/* ---------------------------------- */
/* NAVIGATION */
/* ---------------------------------- */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: var(--white);
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: transparent;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background: var(--bright);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 0.1rem;
  background: var(--bright);
}

.selected {
  color: var(--lightpurple);
  text-shadow: 1px 1px 1px black;
  font-weight: 400;
  position: relative;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 0.1rem;
  background: var(--bright);
}

/* ---------------------------------- */
/* BODY */
/* ---------------------------------- */
.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem;
}

.section,
.inputs {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.section-list,
.current-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  /* border: 1px solid var(--lightpurple); */
  color: var(--bright);
  outline: transparent;
  font-family: inherit;
  background: var(--purple);
  font-size: 1.5rem;
  margin: 2rem;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

button svg {
  margin-right: 1rem;
  font-size: 2rem;
  vertical-align: sub;
}

.on:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.off {
  color: var(--dark);
  border: 1px solid var(--dark);
  background: none;
}

.off:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
  padding: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1.2rem;
}

/* --------------------------------------- */
/* FORMS */
/* --------------------------------------- */

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--dark);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 0rem 1rem;
  margin: 0 1rem 2rem 1rem;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
}

legend {
  font-size: 2.2rem;
  color: var(--bright);
  text-align: left;
  padding: 0 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.legend {
  font-size: 1.5rem;
  color: var(--light);
  text-align: left;
  padding: 0.5rem;
  width: 100%;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.7);
}

legend span {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 00.1rem;
  margin: 0 1rem;
  color: var(--lightpurple);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.MuiInput-underline::after {
  border-bottom: 2px solid var(--lightpurple);
}

.edit-input {
  font-family: inherit;
  font-size: 1.75rem;
  padding: 1rem;
  border-radius: 3rem;
  border: 2px solid transparent;
  margin: 1rem 2rem;
  max-width: 80%;
  outline: transparent;
}

.edit-input:focus {
  -webkit-box-shadow: 1px 2px 3px var(--dark);
          box-shadow: 1px 2px 3px var(--dark);
  border: 2px solid var(--purple);
}

/* ---------------------------------- */
/* EDIT LIST */
/* ---------------------------------- */
.edit {
  width: 80%;
  margin: 2rem auto;
}
.edit legend {
  color: var(--purple);
  padding: 2rem;
}

.section-list h2 {
  font-size: 2.5rem;
  color: var(--dark);
  font-weight: 500;
  padding: 0 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.list {
  list-style-type: none;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pose {
  width: 80%;
  background: var(--purple);
  text-align: left;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--dark);
  margin-top: 1rem;
}

.pose:nth-of-type(even) {
  border-radius: 0 0 2rem 2rem;
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.pose-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
}

.pose-time {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
}

.pose-controls,
.pose-drag {
  color: var(--bright);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 0.25rem 1rem;
}

.pose-controls:hover {
  cursor: pointer;
  color: var(--lightpurple);
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.pose-drag:hover {
  cursor: move;
  color: var(--lightpurple);
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.drag {
  background: var(--purple);
}

.global-drag-line {
  border-bottom: 0.5rem groove var(--white) !important;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  border-radius: 5rem;
}

/* --------------------------------------- */
/* SCROLLBAR - except Firefox */
/* --------------------------------------- */
::-webkit-scrollbar {
  width: 2rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 20px;
  border: 0.5rem solid transparent;
  background-clip: content-box;
}

/* --------------------------------------- */
/* TOTAL TIME SIDEBAR */
/* --------------------------------------- */
.totals {
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  color: var(--bright);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.totals h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--bright);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
.totals span {
  color: var(--lightpurple);
  margin-left: 1rem;
  font-size: 2.5rem;
}

.totals-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 1rem;
}

.totals span.overtime {
  color: rgb(182, 24, 24);
}

/* --------------------------------------- */
/* PROGRAM */
/* --------------------------------------- */
.program {
  background: var(--blue);
  background: -o-radial-gradient(circle, var(--bright) 0%, var(--dark) 100%);
  background: radial-gradient(circle, var(--bright) 0%, var(--dark) 100%);
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
}

.circle {
  padding: 2rem;
}

.next {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  text-align: left;
}

.next h2 {
  padding: 1rem 0;
}

.next p {
  font-size: 4rem;
}

.to-home {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.program-controls {
  position: absolute;
  bottom: 1rem;
}

/* --------------------------------
PROGRESS BAR
-------------------------------- */
#progress-bar {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#program-progress {
  height: 4rem;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#program-progress p {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  text-shadow: 1px 2px 2px var(--dark);
}

.progress-left {
  position: absolute;
  left: 2rem;
}

.progress-right {
  position: absolute;
  right: 2rem;
}


/* --------------------------------
SAVED LIST
-------------------------------- */
.saved-programs-grid {
  background: rgb(0,0,0,0.1);
  padding: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
}
.saved-list {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--white);
  background: rgba(0, 0, 0, 0.15);
  margin: 1rem;
}
.saved-pose-list {
  margin-top: 0.5rem;
  -webkit-box-shadow: 1px 2px 5px black;
          box-shadow: 1px 2px 5px black;
} 
.saved-pose {
  background: var(--purple);
  padding: 0.5rem;
}
.saved-pose:nth-child(even) {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.mobile { display: none;}


/* --------------------------------
MEDIA QUERIES
-------------------------------- */

@media (max-width: 1300px) {
  .next {
    bottom: 10rem;
  }
  
  .to-home {
    top: 4rem;
    right: 1rem;
  }
}

@media (max-width: 1250px) {
  legend {
    font-size: 1.8rem;
    padding: 0 1rem;
  }

  legend span {
    font-size: 2rem;
  }
  .totals {
    width: 90%;
  }
  
  .totals h3 {
    font-size: 1.5rem;
    padding: 0.25rem;
  }
  .totals span {
    font-size: 2rem;
  }
  
  .totals-display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 750px) {
  nav { display: none; }
  .mobile { 
    display: block; 
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .mobile svg {
    font-size: 3rem;
    color: var(--purple);
    margin: 0;
  }
}

@media (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .account h1 {
    font-size: 2rem;
  }

  .account h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .account h3 {
    font-size: 2rem;
  }

  .program-controls button,
  .to-home button,
  .circle button {
    margin: 0.5rem 1rem;
    padding: 1rem 1rem;
    font-size: 0;
  }

  .program-controls button svg,
  .to-home button svg,
  .circle button svg {
    margin: auto;
  }

  .next h2 { font-size: 1.5rem; }
  .next p { font-size: 2rem; }

  .saved-programs-grid {
    background: rgb(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  }
  .saved-list {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    background: rgba(0, 0, 0, 0.15);
    margin: 1rem;
  }
  .saved-pose-list {
    list-style-type: none;
    margin-top: 0.75rem;
    -webkit-box-shadow: 1px 2px 5px black;
            box-shadow: 1px 2px 5px black;
  } 
  .saved-pose {
    background: var(--purple);
    padding: 1rem 0;
  }

  .current-list {
    margin: 3rem 0;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.15);
  }

  .edit fieldset {
    background: transparent;
  }

  .inputs {
    width: 90%;
  }


}