.App {
  text-align: center;
  color: white;
  background: var(--light);
  background: radial-gradient(circle, var(--light) 0%, var(--dark) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
}

footer {
  font-size: 1rem;
}

header h1 {
  flex: 1;
  text-align: start;
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  color: var(--blue);
  text-shadow: 1px 2px 3px black;
}

/* ---------------------------------- */
/* NAVIGATION */
/* ---------------------------------- */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  color: var(--white);
  position: relative;
  transition: all 0.3s ease;
  outline: transparent;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background: var(--bright);
  transition: all 0.3s ease;
}

nav a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 0.1rem;
  background: var(--bright);
}

.selected {
  color: var(--blue);
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 0.1rem;
  background: var(--bright);
}

/* ---------------------------------- */
/* BODY */
/* ---------------------------------- */
.container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--dark);
  color: var(--dark);
  outline: transparent;
  font-family: inherit;
  background: var(--blue);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  margin: 1rem;
}

button svg {
  margin-right: 1rem;
  font-size: 2rem;
  vertical-align: sub;
}

button:hover {
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding: 2rem;
}

p {
  font-size: 1.2rem;
}

/* ---------------------------------- */
/* EDIT LIST */
/* ---------------------------------- */
.list {
  list-style-type: none;
  min-width: 500px;
  padding-bottom: 10rem;
}

.pose {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem 0;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
}

.pose-name {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.pose-time {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
}

.pose-controls,
.pose-drag {
  color: var(--bright);
  transition: all 0.3s ease;
  transform: scale(1);
  margin: 0.25rem 1rem;
}

.pose-controls:hover {
  cursor: pointer;
  color: var(--blue);
  transform: scale(1.5);
}

.pose-drag:hover {
  cursor: move;
  color: var(--blue);
  transform: scale(1.5);
}

.drag {
  background: var(--purple);
}

.global-drag-line {
  border-bottom: 0.5rem groove var(--white) !important;
  box-shadow: 1px 1px 2px black;
  border-radius: 5rem;
}

/* --------------------------------------- */
/* FORMS */
/* --------------------------------------- */

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: none;
}

legend {
  font-size: 2rem;
  color: var(--dark);
  text-shadow: 1px 2px 3px var(--purple);
}

label {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
  text-shadow: 1px 1px 2px var(--dark);
}

input {
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  margin: 0.5rem 2rem 1rem 2rem;
  width: 100%;
  outline: transparent;
}

input:focus {
  box-shadow: 1px 2px 3px var(--dark);
  border: 2px solid var(--blue);
}

.time-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.time-selection ul {
  border-radius: 1rem;
  /* box-shadow: 2px 2px 12px black; */
  overflow-y: scroll;
  scrollbar-color: var(--purple) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}

.time-selection span {
  color: var(--dark);
}

.time-selection-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

/* --------------------------------------- */
/* SCROLLBAR - except Firefox */
/* --------------------------------------- */
::-webkit-scrollbar {
  width: 2rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 20px;
  border: 0.5rem solid transparent;
  background-clip: content-box;
}

/* --------------------------------------- */
/* TOTAL TIME SIDEBAR */
/* --------------------------------------- */
.totals {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: var(--bright);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals span {
  margin-left: 1rem;
}

.overtime {
  color: red;
}

/* --------------------------------------- */
/* PROGRAM */
/* --------------------------------------- */
.program {
  background: var(--blue);
  background: radial-gradient(circle, var(--bright) 0%, var(--dark) 100%);
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.circle {
  /* background: var(--light); */
  padding: 2rem;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
}

.next {
  position: absolute;
  left: 2rem;
  bottom: 8rem;
  text-align: left;
}

.next h2 {
  padding: 0;
}

.next p {
  font-size: 3rem;
}

.to-home {
  position: absolute;
  top: 4rem;
  left: 1rem;
}
.program-controls {
  position: absolute;
  bottom: 1rem;
}

/* --------------------------------
PROGRESS BAR
-------------------------------- */
#progress-bar {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#program-progress {
  height: 4rem;
  /* transition: all 0.2s ease; */
}

#program-progress p {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  text-shadow: 1px 2px 2px var(--dark);
}

.progress-left {
  position: absolute;
  left: 2rem;
}

.progress-right {
  position: absolute;
  right: 2rem;
}
