@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@300&display=swap");

:root {
  --light: #9ba17b;
  --dark: #2e4342;
  --bright: #819e81;
  --white: #ddd;
  --purple: #675a69;
  --lightpurple: #a7867d;
  --blue: #282b66;
  --lightblue: #a3b4aa;
  --yellow: #cab665;
  --orange: #825142;
  --orange: rgb(105, 46, 28);
  --main-font: "Josefin Sans";
  --secondary-font: "Comfortaa";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--light);
  background: radial-gradient(circle, var(--light) 0%, var(--dark) 100%);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--secondary-font), "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
